<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>446010947993-pp80km7qbfcfvnaicq7ndtgv6t674sb3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.446010947993-pp80km7qbfcfvnaicq7ndtgv6t674sb3</string>
	<key>API_KEY</key>
	<string>AIzaSyB9FjYmNZbfJlotLkhDcwUrtmFvjJWUXeQ</string>
	<key>GCM_SENDER_ID</key>
	<string>446010947993</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jason.PutneyCricketClub</string>
	<key>PROJECT_ID</key>
	<string>putneycricketclub</string>
	<key>STORAGE_BUCKET</key>
	<string>putneycricketclub.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:446010947993:ios:2563b68fe56b1f2c327b08</string>
	<key>DATABASE_URL</key>
	<string>https://putneycricketclub.firebaseio.com</string>
</dict>
</plist>